{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mystyle.css">
    <meta charset="UTF-8">
    <title>{{ booktitle }}</title>
</head>
<body class="home">
    NoteBook name: {{ booktitle }},
    <br/>
    <a href="/home/"> Back </a>
    <table class="MyNoteBook">
        <tbody>
            {% for n in notes %}
                <tr>
                    <td>
                        <a href="/note/{{ n.id }}/">
                        {{ n.title }}
                        </a>
                    </td>
                    <td>
                        <textarea readonly="True">{{ n.body }}</textarea>
                    </td>
                    <td>
                        <a href="/edit/{{ n.id }}/"><button type="button">Edit</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="MyNoteBook" action="{{ action }}" method="POST">
        Add New Note Here: <br/>
        {% csrf_token %}
        <input type="text" name="title" placeholder="Note Title">
        <textarea name = "body" placeholder="Note Content"></textarea>
        <input type="submit" value="Save New Note" />
    </form>
                <!--
                <td>
                </td>
                <td>
                    <textarea placeholder="Note Content"></textarea>
                </td>
                <td>
                    <button type="button">Add New Note</button>
                </td>
                -->

</body>
</html>