{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mystyle.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="Login">
        <form action="{% url myurl %}" method="post">
            <hr/>
            <label for="firstname">First Name:</label>
            <br/>
            <input type="text" id="firstname" name="firstname">
            <br/>

            <label for="lastname">Last Name:</label>
            <br/>
            <input type="text" id="lastname" name="lastname">
            <br/>

            <label for="username">Username:</label>
            <br/>
            <input type="text" id="username" name="username">
            <br/>


            <label for="username">Password:</label>
            <br/>
            <input type="password" id="username" name="username">
            <br/>


            <label for="username">Repeat Password:</label>
            <br/>
            <input type="password" id="username" name="username">
            <br/>

            <input type="submit" value="SignUp">
            <hr/>
        </form>
    </div>
</body>
</html>