{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mystyle.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="Login">
        <form action="{{ action }}" method="POST">
          {% csrf_token %}
          <ul>
              {% for ff in form %}
                  {{ ff.label_tag }}
                  <br/>
                  {{ ff }}
                  <br/>

                  <span style="color: darkred;">{{ ff.errors }}</span>
              {% endfor %}
          </ul>
          <input type="submit" value="Signup" />
        </form>
    </div>
</body>
</html>